@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cc0000;
    color: white;
    padding: 2px 20px;
}

.logo {
    font-size: 15px;
    padding: 5px;
}

.logo img{
    margin-top: 20px;
    width: 200px;
    height: auto;
}

.search-bar {
    width: 40%;
    height: 35px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Inter', sans-serif;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 10px;
    gap: 30px;
}

article {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.small-text {
    font-size: 14px;
}

.reg {
    font-size: 22px;
    font-weight: bold;
}

.divider {
    width: 1px;
    height: 50px;
    background: black;
}

.cart {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}

.cart img{
    width: 30px;
    height: auto;
    
}

.login-register span {
    flex-direction: column;
    display: flex;
    cursor: pointer;
    text-align: right;
}

.main-content {
    flex: 1;
    background: rgba(245, 222, 179, 0.604);
    padding: 30px;
    overflow-y: auto;
}

.texbox {
    background: white;
    padding: 30px;
    border-radius: 2px;
    max-width: 40%;
}

.texbox p {
    font-size: 16px;
    line-height: 1.5;
    color: #161515;
}

.texbox h1 {
    color:#cc0000;
    margin-bottom: 15px;
}

.texbox button {
    margin-top: 20px;
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover {
  background: #0056b3;
}

.content .hero-container {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("pcparts.jpg");

    width: 100%;
    max-width: 1050px;   
    min-height: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 40px;
    color: white;
    border-radius: 10px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 220px;
    background: #ffffff;
    padding: 20px 80px 80px 20px;
    border-right: 1px solid #ddd;
}

.sidebar ul li a:hover {
    background-color: #cc0000
}

.sidebar nav a {
    color:#141c24;
    text-decoration: none;
}

.sidebar h3 {
    margin-top: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 6px 0;
    cursor: pointer;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
}

.product-table th {
    background: #eee;
    padding: 10px;
    text-align: left;
}

.product-table td {
    padding: 10px;
    border-top: 1px solid #ddd;
}


.product-table tr:hover {
    background: #f9f9f9;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #cecdce;
    color: rgb(0, 0, 0);
}

footer img {
    display: flex;
    width: 1px;
    height: auto;
    margin-top: 10px;
    padding: 5px;
}
